<app-navigation-operator> </app-navigation-operator>
<div>
    <button mat-raised-button color="primary" (click)="agregar()"><mat-icon mat-list-icon>add</mat-icon> Nueva
        Habitacion</button>
</div>
<div class="row">
    <div class="col-lg-3 col-6" *ngFor="let habitacion of listaHabitacion">

        <mat-card>
            <mat-card-content>

                <h3>{{habitacion.HabitacionID}}</h3>
                <p>{{habitacion.Descripcion}}</p>

                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="detalleHabitacion(habitacion)">Detalles</button>

            </mat-card-actions>
        </mat-card>

    </div>

</div>