mat-card {
    background-color: rgb(84, 226, 94);
    margin-top: 30px;
}

mat-card-actions {
    text-align: center;
    background-color: rgb(54, 168, 61);
    width: 100%;
}

mat-divider {
    background-color: black;
}