<app-navigation></app-navigation>
<body>
    <h1>¿QUIENES SOMOS?</h1>
    <p><b>Hotel Guatemala</b> Es tu segundo Hogar, nos encargamos de tu hospedaje y de darte la mejor atención. <br>
        Nuestra prioridad eres tu y tu familia, contamos con todo tipo de habitaciones, estacionamiento, restaurante y más. <br>
        Atrevete a vivir la mejor experiencia en Hotel Guatemala.
    </p>
   <article> <img src="assets/img/recepcion.jpg" width="800" /></article>
   
    <br><br>
    <section>
        <h2>TIPOS DE HABITACIONES</h2>
        <article>
            <h2>Habitción Individual</h2>
            <p>Una habitación individual es una habitación pequeña con una cama individual con capacidad para una persona. <br>
                Este tipo de habitación suele ser adecuada para viajeros en solitario o en viajes de negocios que necesitan 
                un lugar cómodo para descansar</p>
            <img src="assets/img/habIndividual.jpg" width="800" /><br><br>
        </article>

        <article>
            <h2>Habitación doble</h2>
            <p>Una habitación doble es una habitación con dos camas individuales con capacidad para dos personas. <br>
                Este tipo de habitación suele ser adecuada para amigos o compañeros que viajan juntos.</p>
            <img src="assets/img/habDoble.jpg" width="800" /> <br><br>
        </article>

        <article>
            <h2>Habitación doble matrimonial</h2>
            <p>Una habitación doble es una habitación con cama de matrimonio con capacidad para dos personas,<br>
                 normalmente adecuada para parejas o viajeros en solitario que necesitan más espacio que una habitación individual.</p>
            <img src="assets/img/habMatrimonial.jpg" width="800"/> <br><br>
        </article>

        <article>
            <h2>Habitación estándar</h2>
            <p>Una habitación estándar es una habitación básica con las comodidades esenciales, como cama, baño y televisión. <br>
                Este tipo de habitación es perfecta para viajeros con un presupuesto ajustado.</p>
            <img src="assets/img/habEstandar.jpg" width="800"/> <br><br>
        </article>

        <article>
            <h2>Habitación Estudio / Piso</h2>
            <p>Un estudio es una habitación con cocina americana, dormitorio y salón en un espacio abierto. <br>
                Este tipo de habitación la suelen elegir los huéspedes de larga estancia o los que quieren cocinar.</p>
            <img src="assets/img/habEstudio.jpg" width="800"/> <br><br>
        </article>

        <article>
            <h2>Suite</h2>
            <p>Una suite es una habitación más grande con zona de estar, dormitorio y baño independientes.  <br>
                Este tipo de habitación es adecuada para huéspedes que desean más espacio, privacidad y lujo.  <br> 
                No solo una cama para dormir, sino una experiencia para vivir;</p>
            <img src="assets/img/suite.png" width="800"/> <br>
            <img src="assets/img/suite2.jpg" width="800"/> <br>
            <br>

        </article>

        <article>
            <h2>Villa</h2>
            <p>Una villa es una casa independiente con varios dormitorios, cuartos de baño y zonas de estar. <br>
                Las familias o grupos de amigos que viajan juntos son los huéspedes más frecuentes de este tipo de alojamiento</p>
            <img src="assets/img/habVillaa.jpg" width="800"/> <br><br>
        </article>
    </section>

</body>