

<body>
    <br>
    <h1>Gracias por tu Preferenica</h1><br><br><br>
    <h2>Puedes comunicarte por los siguientes medios: </h2><br><br>
    <section class="seccion">
        <article>
            <img src="assets/img/tel.png" width="300" height="300"/><br>
            <span>Telefono:</span> +502 6633-0000 <br>
        </article>

        <article>
            <img src="assets/img/gmailLogo.jpg" width="600" height="300"/><br>
            <p>  <span>Correo:</span> hotelguatemala502@gmail.com <br></p>
        </article>

        <article>
            <img src="assets/img/facebook.jpg" width="600" height="300"/><br>
            <span>Facebook:</span> HotelGuatemala502
        </article>

        <article>
            <img src="assets/img/insta.png" width="300" height="300"/><br>
            <p> <span>Instagram</span> @Hotel_Guatemala </p>
        </article>
    </section>
    
</body>
