<app-navigation></app-navigation>
<body>
    <br>
    <h1>GRACIAS POR TU PREFERENCIA</h1><br><br><br>
    <h2>Puedes comunicarte por los siguientes medios: </h2><br><br>
    <section>
        <article>
            <img src="assets/img/tel.png" width="300" height="300"/><br>
            <p><span>Telefono:</span> +502 6633-0000 <br><br></p>
        </article><br><br>

        <article>
            <img src="assets/img/gmailLogo.jpg" width="600" height="300"/><br>
            <p>  <span>Correo:</span> hotelguatemala502@gmail.com <br></p>
        </article><br><br>

        <article>
            <img src="assets/img/facebook.jpg" width="600" height="300"/><br>
            <p><span>Facebook:</span> HotelGuatemala502</p>
        </article><br><br>

        <article>
            <img src="assets/img/insta.png" width="300" height="300"/><br>
            <p> <span>Instagram</span> @Hotel_Guatemala </p>
        </article><br><br>
    </section>
    
</body>

