<mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <mat-grid-list cols="1" rowHeight="400px">

      <label for="Numero">Numero</label>
      <mat-form-field class="form-field">
        <input matInput formControlName="Numero">
      </mat-form-field>
      <label for="Precio">Precio</label>
      <mat-form-field class="form-field">
        <input matInput formControlName="Precio">
      </mat-form-field>

      <mat-label>Tipo</mat-label>
      <mat-form-field>
        <select matNativeControl formControlName="TipoHabitacionID">
          <option *ngFor="let tipo of listaTipo" [value]="tipo.TipoHabitacionID">{{ tipo.Nombre }}</option>
        </select>
      </mat-form-field>
      <mat-label>Estatus</mat-label>
      <mat-form-field>
        <select matNativeControl formControlName="EstatusHabitacionID">
          <option *ngFor="let estatus of listaEstatus" [value]="estatus.EstatusHabitacionID">{{ estatus.Nombre }}
          </option>
        </select>
      </mat-form-field>

    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button (click)="agregar()" class="save-button">Agregar</button>
    <button mat-raised-button (click)="cerrarDialogo()" class="cancel-button">Cancelar</button>
  </div>
</mat-dialog-actions>