<mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <mat-grid-list cols="1" rowHeight="400px">

      <mat-form-field class="form-field">
        <mat-label for="Nombre">Nombre</mat-label>
        <input matInput formControlName="Nombre">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="Apellido">Apellido</mat-label>
        <input matInput formControlName="Apellido">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="Celular">Celular</mat-label>
        <input matInput formControlName="Celular">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="Correo">Correo</mat-label>
        <input matInput formControlName="Correo">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="Documento">Documento</mat-label>
        <input matInput formControlName="Documento">
      </mat-form-field>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button (click)="agregar()" class="save-button" [disabled]="!form.valid">{{boton}}</button>
    <button mat-raised-button (click)="cerrarDialogo()" class="cancel-button">Cancelar</button>
  </div>
</mat-dialog-actions>