mat-form-field {
    width: 100%;
}

form {
    width: 400px;
}

button {
    width: 120px;
    height: 30px;
    background-color: gray;
}



mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

}

@media (max-width: 600px) {

    form {
        width: 100%;
    }
}