mat-dialog-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: inline-block;

}