<app-navigation></app-navigation>
<body>
    <br>
    <h1>Atrevete a vivir una nueva experiencia con Hotel Guatemala, somos tu mejor opción</h1><br><br>
    <section>
        <article>
            <h2>Vestibulo / Sala de Espera</h2>
            <img src="assets/img/vestibulo.jpg" width="800"/><br><br>
        </article>

        <article>
            <h2>Recepcion</h2>
            <img src="assets/img/recepcion.jpg" width="800"/><br><br>
        </article>

        <article>
            <H2>Restaurante</H2>
            <img src="assets/img/restaurant.jpg" width="800" /><br>
            <img src="assets/img/restaurant2.jpg" width="800"/><br><br>
        </article>

        <article>
            <h2>Estacionamiento</h2>
            <img src="assets/img/estacionamiento.jpg" width="800"/><br><br>
        </article>

    </section>
  
    <section>
        <h2>TIPOS DE HABITACIONES</h2>
        <article>
            <h2>Habitción Individual</h2>
            <img src="assets/img/habIndividual.jpg" width="800" /><br><br>
        </article>

        <article>
            <h2>Habitación doble</h2>
            <img src="assets/img/habDoble.jpg" width="800" /> <br><br>
        </article>

        <article>
            <h2>Habitación doble matrimonial</h2>
            <img src="assets/img/habMatrimonial.jpg" width="800"/> <br><br>
        </article>

        <article>
            <h2>Habitación estándar</h2>
            <img src="assets/img/habEstandar.jpg" width="800"/> <br><br>
        </article>

        <article>
            <h2>Habitación Estudio / Piso</h2>
            <img src="assets/img/habEstudio.jpg" width="800"/> <br><br>
        </article>

        <article>
            <h2>Suite</h2>
            <img src="assets/img/suite.png" width="800"/> <br>
            <img src="assets/img/suite2.jpg" width="800"/> <br>
            <br>

        </article>

        <article>
            <h2>Villa</h2>
            <img src="assets/img/habVillaa.jpg" width="800"/> <br><br>
        </article>
    </section>
</body>